{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    // Stage 3
    "@babel/plugin-syntax-dynamic-import"
  ]
}